<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/find.css">
    <link rel="stylesheet" href="/static/css/popup_image.css">
    <link rel="stylesheet" href="/static/css/comments.css">
	<script src="/static/js/comments.js"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div id="nav_menu" class="menu">
        {% for menu_item in menu %}
        <div class="menu_item">
            {% if menu_item.id %}
            <a href="{{ menu_item.link }}" id="{{ menu_item.id }}">{{ menu_item.label }}</a>
            {% else %}
            <a href="{{ menu_item.link }}">{{ menu_item.label }}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% block content %}{% endblock %}
    {% block footer_menu %}{% endblock %}
    {% include "find.html" %}
    {% block comments %}{% endblock %}

    <!-- скрипты для работы с модальными окнами -->
    <script src="/static/js/script.js"></script>
    <script src="/static/js/add_comment.js"></script>
</body>
</html>