<div id="bottom_menu" class="menu">
    <div class="menu_item"><a href="/" id="back_button" title="На предыдущую страницу">Назад</a></div>
	<div class="menu_item"><a href="javascript:void(0);" class="toggleLink" data-target="comments_section" title="Показать/скрыть комментарии">Комментарии</a></div>
	<div class="menu_item"><a href="#" id="comment_button" title="Новый комментарий">Добавить</a></div>
</div>

<script>
    document.getElementById('back_button').addEventListener('click', function(event) {
        event.preventDefault(); // предотвращаем переход по ссылке
        window.history.back();  // выполняем действие "Назад"
    });
</script>