body {
    background-image: url(/static/image/bg.jpg);
    background-attachment: fixed;
}

/* Общие стили для всех меню */
.menu {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    color: white;
    padding: 10px 0;
    width: 99%;
    box-sizing: border-box;
    border-radius: 5px;
}

.menu a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #555;
    color: gold;
}

/* Специфичные стили для верхнего меню */
#nav_menu {
    top: 0;
}

/* Специфичные стили для нижнего меню */
#bottom_menu {
    bottom: 0;
}

/* Основное содержимое */
#main_content {
    max-width: 1000px;
    max-height: 1320px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#nodata_out {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    min-height: 100vh; /* Минимальная высота на весь экран */
}

#nodata_content {
    max-width: 1000px;
    max-height: 1320px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.nodata {
    color:gold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    min-width: 500px;
    margin-bottom: 50px;
}    

/* Контейнер для карточек */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.cards a {
    text-decoration: none;
}

/* Карточки фильмов */
.movie_card {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: 1px solid gray;
    margin: 10px;
    background-color: azure;
    border-radius: 5px;
    max-width: 200px;               /* ограничиваем ширину карточки */
    height: 333px;                  /* устанавливаем фиксированную высоту 335 px*/
    box-sizing: border-box;
    flex: 1 1 calc(25% - 20px);     /* карточка займет до 25% ширины контейнера, учитывая отступы */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie_card img {
    max-width: 100%;                /* убедимся, что изображение не превышает размер карточки */
    width: 200px;
    height: 283px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.movie_card p {
    word-wrap: break-word;
    white-space: normal;            /* разрешаем перенос текста на новую строку */
    padding: 5px;
    margin: 0;
    text-align: center;             /* центрируем текст внутри карточки */
    flex: 1;
    overflow: hidden;               /* скрываем текст, который не помещается */
    display: -webkit-box;           /* для поддержки обрезки текста */
    -webkit-line-clamp: 2;          /* показываем максимум две строки текста */
    -webkit-box-orient: vertical;   /* вертикальная ориентация для обрезки */
    text-overflow: ellipsis;        /* добавляем многоточие, если текст обрезается */
    height: 3em;                    /* высота для двух строк текста (2 строки x 1.5em высоты строки) */
    line-height: 1.4em;             /* высота строки */
}

/* Подробное описание фильма */
.movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.inner_movie {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.movie_left_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #222;
    border: 1px solid gray;
    margin-left: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.movie_right_side {
    display: flex;
    flex-direction: column;
    align-items: left;

    font-family:Verdana, Geneva, Tahoma, sans-serif;

    border: 1px solid gray;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #111;
    border-radius: 5px;
    box-sizing: border-box;
    flex: 1 1 calc(25% - 20px);         /* описание займет до 25% ширины контейнера, учитывая отступы */
}

.raiting_caption {
    margin-top: 10px;
    font-size: 14px;
    /* font-weight:bolder; */
    color:azure;
}

.raiting_value {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight:bolder;
    color:azure;
}

.red {
    color:red;
}

.yellow {
    color:yellow;
}

.green {
    color: green;
}

.p1 {
    margin-top: 0px;

    /* color: #292b39; */
    color: beige;

    line-height: 21px;

    /*font-size: 17px;*/
    font-size: 14px;
}

.movie_right_side hr {
    border-color: lightgrey;
}

/* ----------------------------------------- */
.line_pages {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}
 
.line_pages a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.line_pages a:hover {
    color: gold;
}

.previous_page {
    margin-right: auto;
}

.next_page {
    margin-left: auto;
}

/* ----------------------------------------- */
.shots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 0px;
}

.single_shot {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 220px; 
}

.single_shot:hover {
    transform: scale(1.03);    
    transition: transform 0.3s ease-in-out;
}

.single_shot img {
    cursor: pointer;
    max-width: 100%;
    margin-bottom: 10px;
}
